.first-main-container{
    height: 100vh;
}

h3{
    font-size: 2.85vh;
}


.navbar-container-light{
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-light .logo a div{
    color: white;
}

.navbar-light ul li a{
    color: white;
}

.navbar-light ul li a:after {
    color: white;
}

.about-bg {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 101vh;
    margin-left: -1.0vh;
    margin-top: -0.3vw;
    background-image: url(../resources/images/about/about-page.jpg);
    background-size: cover;
}

.aboutp-header{
    position: relative;
    z-index: -1;
    top: -39vh;
    width: 50vw;
    height: 100vh;
    margin: 0vh auto; 
    margin-top: 25vh;
}

.about-item{
    display: flex;
    padding: 10vw 8vw 0vw 8vw;
}

.about-item-content{
    width: 70%;
}
.header{
    font-size: 5vh;
    color: white;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;

}

.about-item-content h3{
    margin: 0px;
    font-family: varela-round;
}

.about-item-content p{
    font-size: 2.5vh;
    font-family: varela-round;
}

.about-text{
    opacity: 0;
    margin-top: 17vh;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    width:74vw;
    display: inline-block;
}

.mission{
	background-image: url(../resources/images/Hands.jpg);
	height: 13vh;
	width: 13vw;
    background-size: cover;

}

.second-container {
    width: 100%;
    height: 30vh;
    margin-top: 10vh;
}

@keyframes shadow-annimation{
    from{
        box-shadow:none;
    }
    to{
        box-shadow:0px 0px 15px #aaaaaa;
    }
}

.second-container-item{
    transition-property: opacity, top;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    top: 5vh;
    opacity: 0;
	position: relative;
	width: 80vw;
    height: 25vh;
    padding-top: 2vh;
    margin: 0px auto;
    border-radius: 10px;
    animation-name: shadow-annimation;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.second-container-item p{
	width: 74vw;
    height: 100vh;
    margin: 0px auto;
    font-size: 2.5vh;
    font-family: varela-round;
}
.second-header{
    font-size: 5vh;
    color: black;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;
    
}

#core-values{
    position: relative;
    transition-delay: 1s;
    transition-property: opacity, top;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    top: 5vh;
    opacity: 0;
}

.third-header{
    background: linear-gradient(45deg,#20BF55, #01BAEF);
    border-radius: 10px;
    height: 10vh;
    padding-top: 4vh;
    font-size: 5vh;
    color: white;
    font-family: varela-round;
    text-align: center;
    animation-name: shadow-annimation;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.arrow-down {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid #20BFA7;
  }

.second-container-content{
    font-size: 5vh;
    color: white;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;

}
.third-container {
    width: 100%;
    height: 90vh;
    margin-top:  8vh;
    background-size: cover;
}
.third-container-item{
	position: relative;
	width: 80vw;
    height: 100vh;
    margin: 0px auto;
}
.flex-container{
    margin-top: 3vh;
    display: flex;
}

.flex-container div{
    transition-delay: 3s;
    transition-property: opacity, margin-top;
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
    width: 100%;
    margin-right: 2vw;
    margin-top: 5vh;
    opacity: 0;
}

#innovation{
    transition-delay: 4s;
}

#commitment{
    transition-delay: 5s;
}

.flex-container div h4{
    margin: 5vh;
    font-size: 4vh;
    font-family: varela-round;
    text-align: center;
    background: linear-gradient(45deg,#20BF55, #01BAEF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex-container div p{
    font-size: 2.5vh;
    font-family: varela-round;
    padding: 0px 1vw;
}

.contact-form{
    width: 50vw;
    height: 50vh;
    border: 1px solid #333c4e;
    background: white;
    margin: 0vw auto;
    margin-top: -25vh;
    margin-bottom: -25.2vh;
    position: relative;
    z-index: 2;
}

.form-container label{
    font-size: 2.2vh;
    font-family: varela-round;
    color: gray;
}

.form-container input{
    width: 100%;
    font-size: 2.2vh;
    font-family: varela-round;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.form-container label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

.form-container input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }

  input:placeholder-shown + label {
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom; 
    transform: translate(0, 3.4vh) scale(1.25);
    margin-bottom: 0.7vh;
  }

  ::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  input:not(:placeholder-shown) + label,
   input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  margin-bottom: 0.7vh;
}

.submit{
    text-align: center;
    font-size: 3vh;
    width: 80px;
    margin: 1vh auto;
    margin-top: 3.7vh;
} 

.footer-container{
    margin-top: 13vh;
}

.footer{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 45vh;
    background-color: #333c4e;
    font-family: vazgen;
}