@font-face {
  font-family: bavro-regular;
  src: url(../resources/fonts/Bavro-Regular.otf);
}

@font-face {
  font-family: exo;
  src: url(../resources/fonts/Exo-VariableFont_wght.ttf);
}

@font-face {
  font-family: varela-round;
  src: url(../resources/fonts/VarelaRound-Regular.ttf);
}
@font-face {
  font-family: Vazgen;
  src: url(../resources/fonts/IBMPlexSans-Light.ttf);
}
