html {
    scroll-behavior: smooth;
  }
  
body
{
    margin:0px;
    overflow-x: hidden;
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

p{
    text-align: justify;
}

.btn:after {
    transition: width 0.5s ease-out;
    content: "";
    display: block;
    margin: 0 auto;
    width: 0px;
    padding-top: 5px;
    border-bottom: 2.3px solid;
}

.btn:hover {
    cursor: pointer;
}

.btn:hover::after {
    width: 100%;
}

.neon-white{
    color: white;
    font-family: varela-round;
    transition: text-shadow 0.4s ease-out;
    text-shadow: 0.1vw 0vw 0.2vw white;
  }

.neon-white:hover{
    text-shadow: 0vw    0vw 1.5vw white;
    cursor: default;
}

.neon-black{
    color: black;
    font-family: varela-round;
    transition: text-shadow 0.4s ease-out;
    text-shadow: 0vw 0vw 0vw black;
  }

.neon-black:hover{
    text-shadow: 0vw 0vw 1vw black;
    cursor: default;
}

@keyframes animate-show{
    from{
        margin-top: 2vh;
        opacity: 0;
    }
    to{
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes shadow-annimation{
    from{
        box-shadow:none;
    }
    to{
        box-shadow:0px 0px 15px #aaaaaa;
    }
}