.first-main-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.buttons-container{
    color: white;
    font-size: 3.5em;
}

.buttons-container div {
    transition: opacity 0.4s ease-out;
    opacity: 0.5;
    width: auto;
    position: absolute;
}

.buttons-container div:hover {
    opacity: 1;
}

.buttons-container div div {
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#left-button {
    margin: 50vh 0 50vh 10vw;
}

#right-button{
    right: 0px;
    margin: 50vh 10vw 50vh 0vw;
}

.carousel{
    transition: margin-left 1s ease-in-out;
    cursor: default;
    overflow: hidden;
    display: flex;
    width: 300vw;
    height: 100vh;
}

#background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -100;
}

.carousel-item{
    display: inline-block;
    height: 100vh;
    width:100vw;
    color:white;
    font-family: exo;
}

.carousel-item div{
    display: block;
    height: 40%;
    width:60%;
    margin: auto;
    margin-top: 25vh;
    z-index: 2;
}

.carousel-item div h2{
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: 1.4vh;
}

.carousel-item div hr{
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 0em;
    width: 40%;
}

.carousel-item div p{
    margin-top: 1.4vh;
    font-size: 2.6vh;
}

#carousel-item-1{
    background:transparent;
}

#carousel-item-2{
    background-image: url('../resources/images/WeCreate.jpg');
    background-size: cover;
}

#carousel-item-3{
    background-image: url('../resources/images/connect.jpg');
    background-size: cover;
}

.second-main-container {
    width: 100%;
    height: 100vh;
}

.about-content{
    width: 74vw;
    height: 100vh;
    margin: 0px auto;
}

.about-box{
    width: 38vw;;
    height: 25vh;
    padding: 3vh 3vw;
    margin: 0px auto;
    border-radius: 10px;
    animation-name: shadow-annimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.about-header{
    width: 74vw;
    text-align: center;
    font-size: 3vh;
    font-family: varela-round;
    margin-top: 5vh;
    position: absolute;
    cursor: default;
}

.about-header:before,
.about-header:after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 4vw;
}

.about-header:before {
  right: 0.5em;
  margin-left: -50vw;
}

.about-header:after {
  left: 0.5em;
  margin-right: -50vw;
}

.who-we-are{
    opacity: 0;
    margin-top: 22vh;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    display: inline-block;
}

.who-we-are h3{
    font-size: 4vh;
	font-family: varela-round;
    margin-bottom: 0vh;
}

.who-we-are p{
    font-size: 2.7vh;
    font-family: varela-round;
    margin-top: 2vh;
    width:37vw;
}

.what-we-do{
    opacity: 0;
    width: 37vw;
    margin-top: 60vh;
    transition-delay: 0.7s;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    display: inline-block;
    left: 50vw;
}

.what-we-do h3{
    font-size: 4vh;
    font-family: varela-round;
    margin-bottom: 0vh;
    

}

.what-we-do p{
    font-size: 2.7vh;
    font-family: varela-round;
}

.what-we-do-first-part{
    margin-top: 0vh;
    opacity: 0;
    transition-delay: 0.7s;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    left: 0vw;
    width:20vw;
}

.more-about-us{
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 1.7em;
    font-family: varela-round;
    bottom: -95vh;
    left: 44.4vw;
}

.third-main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background:black;
}

.azure{
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 25vh;
}

.fourth-main-container {
    width: 100%;
    height: 41vh;
    overflow: hidden;
}

.solutions-content{
    width: 74vw;
    height: 44vh;
    margin: 0 auto;
    color: black;
}

.solutions-header{
    width: 74vw;
    margin-left: -0.7vw;
    text-align: center;
    font-size: 3vh;
    font-family: varela-round;
    margin-top: 5vh;
    position: relative;
    cursor: default;
}

.solutions-header:before,
.solutions-header:after{
    background-color: black;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 4vw;
}

.solutions-header:before {
  right: 0.5em;
  margin-left: -50vw;
}

.solutions-header:after {
  left: 0.5em;
  margin-right: -50vw;
}

.how-we-do{
    height: 30vh;
    display: flex;
    margin-top: 7vh;
}
.how-we-do > div > h3{
    font-size: 3vh;
    color: black;
    position: relative;
    font-family: vazgen;
    text-align: center;
    margin: 0;
    margin-top: -5vh;
}

.web-logo-container{
    height: 80vh;
    display: flex;
}

.web-logo-container > div{
    position: relative;
    height: 10vh;
    width: 12.5vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#dot-net-core{
    background-image: url(../resources/images/index/dot-net-core.png);
}

#ef-core{
    background-image: url(../resources/images/index/ef-core.png);
}

#blazor{
    background-image: url(../resources/images/index/blazor.png);
}

#html{
    background-image: url(../resources/images/index/html.png);
}

#css{
    background-image: url(../resources/images/index/css.png);
}

#js{
    background-image: url(../resources/images/index/js.png);
}

.more{
    color:black;
    text-decoration: none;
    position: absolute;
    font-size: 3vh;
    font-family: varela-round;
    bottom: -138vh;
    left: 44.8vw;
}

@media screen and (max-width: 960px) {
    .who-we-are{
        margin-top: 15vh;
    }
    
    .who-we-are h3{
        font-size: 3.5vh;
    }
    
    .who-we-are p{
        font-size: 2.5vh;
    }
    
    .what-we-do{
        margin-top: 37vh;
    }
    
    .what-we-do h3{
        font-size: 3.5vh;
    }
    
    .what-we-do p{
        font-size: 2.5vh;
    }

    .solutions-content h2{
        font-size: 3.5vh;
    }
  }