.solutions-first-main-container{
    transition: height 0.4s ease-in-out;
    overflow:hidden;
    width: 100%;
    height: 300vh;
}

h3{
    font-size: 2.85vh;
}

.idea-bg {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 103vh;
    background-image: url(../resources/images/solutions/lets-build-it.jpg);
    background-size: cover;
}

.header{
    position: absolute;
    font-size: 8vh;
    color: white;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    top: 40vh;
    left: 65vw;
}

.solutions-content{
    background: white;
    position: relative;
    z-index: 1;
    top: -81vh;
    width: 100vw;
    height: 135vh;
    margin: 0vh auto;
    margin-top: 78vh;
}

.solutions-white-layer{
    width: 80vw;
    margin: 0vh auto; 
}

.solutions-image{
    display: inline-block;
    width: 30%;
    background-size: cover;
    margin-right: 4vw;
}

#web-image{
    background-image: url(../resources/images/solutions/web-application-development.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#desktop-image{
    background-image: url(../resources/images/solutions/desktop-application-development.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#consulting-image{
    background-image: url(../resources/images/solutions/it-consulting.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#support-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/support.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#qa-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/quality-assurance.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ux-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/ux-design.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.solution-item{
    display: flex;
    padding: 10vw 8vw 0vw 8vw;
}

.solution-item-content{
    width: 70%;
}

.solution-item-content h3{
    margin: 0px;
    font-family: varela-round;
}

.solution-item-content p{
    font-size: 2.5vh;
    font-family: varela-round;
}

.btn-align-right{
    float: right;
    margin-right: 1vw;
}

.solution-item-content div{
    display: inline-block;
    font-size: 2.8vh;
    font-family: varela-round;
    font-weight: bold;
}

.benefits-container{
    margin: 8vh 8vw;
}

.benefits-container h2{
    font-family: varela-round;
    font-size: 3.7vh;
    font-weight: bold;
    margin: 1vh;
    margin-bottom: 12vh;
    text-align: center;
}

.solutions-flex-container{
    margin-top: 3vh;
    display: flex;
}

.solutions-flex-container div{
    width: 33.3%;
    margin-right: 2vw;
}

.solutions-flex-container div h4{
    margin: 2vh;
    font-size: 2.9vh;
    font-family: varela-round;
    text-align: center;
}

.solutions-flex-container div p{
    font-size: 2.5vh;
    font-family: varela-round;
    padding: 0px 1vw;
}

  @media screen and (max-width: 1831px) {
    .solutions-first-main-container{
        height: 335vh;
    }
  }

  @media screen and (max-width: 1521px) {
    .solutions-first-main-container{
        height: 350vh;
    }
  }

@media screen and (max-width: 1275px) {
    .solution-item-content p {
        font-size: 2vh;
    }

    h3 {
        font-size: 2.35vh;
    }

    .solution-item-content div {
        font-size: 2.35vh;
    }

    .benefits-container h2 {
        font-size: 3.2vh;
        margin-bottom: 8vh;
    }

    .solutions-flex-container {
        height: 10vh;
    }

    .solution-item-content p{
        font-size: 2vh;
    }
    
    .solution-item-content div{
        font-size: 2.3vh;
    }

    .solutions-first-main-container{
        height: 290vh;
    }

    .solutions-flex-container div h4 {
        font-size: 2.35vh;
    }

    .solutions-flex-container div p {
        font-size: 2vh;
    }
  }

  
  @media screen and (max-width: 1081px) {
    .solutions-first-main-container{
        height: 310vh;
    }
  }
  
@media screen and (max-width: 830px) {
    .solutions-first-main-container{
        height: 320vh;
    }

    .header {
        margin-right: 5vh;
    }
  }