.first-main-container{
    height: 270vh;
}

.solutions-bg {
    position: absolute;
    width: 99.8vw;
    height: 271.4vh;
    margin-left: -1.4vh;
    margin-top: -0.3vw;
    background-image: url(../resources/images/dark.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.header{
    font-size: 3em;
    color: white;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;
}

.solutions-content{
    width: 80vw;
    height: 270vh;
    margin: 0vh auto; 
    margin-top: 25vh;
}

.solutions-white-layer{
    background: rgba(255,255,255, 0.7);
    width: 80vw;
    height: 270vh;
    margin: 0vh auto; 
}

.solutions-image{
    display: inline-block;
    width: 30%;
    height: 15vw;
    background: green;
    margin-right: 4vw;
}

.solution-item{
    display: flex;
    padding: 10vw 8vw 0vw 8vw;
}

.solution-item-content{
    width: 70%;
}

.solution-item-content h3{
    margin: 0px;
    font-size: 1.85em;
    font-family: varela-round;
}

.solution-item-content p{
    font-size: 1.5em;
    font-family: varela-round;
}

.btn-align-right{
    float: right;
    margin-right: 1vw;
}

.solution-item-content div{
    display: inline-block;
    font-size: 1.5em;
    font-family: varela-round;
    font-weight: bold;
}

.benefits-container{
    margin:8vw;
    margin-top:20vh;
}

.benefits-container h3{
    font-size: 2.2em;
    font-family: varela-round;
    font-weight: bold;
}

.flex-container{
    display: flex;
}

.flex-container div{
    width: 33.3%;
    margin-right: 2vw;
}

.flex-container div h4{
    font-size: 1.6em;
    font-family: varela-round;
}

.flex-container div p{
    font-size: 1.3em;
    font-family: varela-round;
}

.form-container{
    width: 60%;
    margin: 5vh auto;
}

.form-container h3{
    text-align: center;
    font-size: 2.2em;
    font-family: varela-round;
    margin-bottom: 1vh;
}

.field {
    margin:1vh 0vw;
    display: flex;
    flex-flow: column-reverse;
  }

.form-container label{
    font-size: 1.2em;
    font-family: varela-round;
    color: gray;
}

.form-container input{
    width: 100%;
    font-size: 1.2em;
    font-family: varela-round;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.form-container label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

.form-container input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }

  input:placeholder-shown + label {
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom; 
    transform: translate(0, 2rem) scale(1.4);
    margin-bottom: 0.7vh;
  }

  ::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  input:not(:placeholder-shown) + label,
   input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  margin-bottom: 0.7vh;
}

.submit{
    text-align: center;
    font-size: 1.6em;
    width: 80px;
    margin: 1vh auto;
    margin-top: 5.2vh;
}