.navbar-container-light{
    background-color: rgba(0, 0, 0, 0.3);
}

.first-main-container{
    overflow-x:hidden;
    width: 100%;
}

h3{
    font-size: 2.85vh;
}

.idea-bg {
    position: relative;
    z-index: -1;
    width: 100vw;
    height: 103vh;
    background-image: url(../resources/images/solutions/lets-build-it.jpg);
    background-size: cover;
}

.header{
    position: absolute;
    font-size: 8vh;
    color: white;
    font-family: varela-round;
    margin-bottom: 2vh;
    text-align: center;
    text-transform: uppercase;
    top: 50vh;
    left: 65vw;
}

.solutions-content{
    background: white;
    position: relative;
    z-index: 1;
    top: -81vh;
    width: 100vw;
    height: 145vh;
    margin: 0vh auto;
    margin-top: 78vh;
}

.solutions-white-layer{
    width: 80vw;
    margin: 0vh auto; 
}

.solutions-image{
    display: inline-block;
    width: 30%;
    background-size: cover;
    margin-right: 4vw;
}

#web-image{
    background-image: url(../resources/images/solutions/web-application-development.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#desktop-image{
    background-image: url(../resources/images/solutions/desktop-application-development.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#consulting-image{
    background-image: url(../resources/images/solutions/it-consulting.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#support-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/support.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#qa-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/quality-assurance.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#ux-image{
    display: inherit;
    width: 60%;
    height: 100%;
    margin:0px auto;
    background-image: url(../resources/images/solutions/ux-design.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.solution-item{
    display: flex;
    padding: 10vw 8vw 0vw 8vw;
}

.solution-item-content{
    width: 70%;
}

.solution-item-content h3{
    margin: 0px;
    font-family: varela-round;
}

.solution-item-content p{
    font-size: 2.5vh;
    font-family: varela-round;
}

.btn-align-right{
    float: right;
    margin-right: 1vw;
}

.solution-item-content div{
    display: inline-block;
    font-size: 2.8vh;
    font-family: varela-round;
    font-weight: bold;
}

.benefits-container{
    margin: 8vh 8vw;
}

.benefits-container h2{
    font-family: varela-round;
    font-size: 3.7vh;
    font-weight: bold;
    margin: 1vh;
    margin-bottom: 12vh;
    text-align: center;
}

.flex-container{
    margin-top: 3vh;
    display: flex;
}

.flex-container div{
    width: 33.3%;
    margin-right: 2vw;
}

.flex-container div h4{
    margin: 2vh;
    font-size: 2.9vh;
    font-family: varela-round;
    text-align: center;
}

.flex-container div p{
    font-size: 2.5vh;
    font-family: varela-round;
    padding: 0px 1vw;
}

.form-container{
    width: 60%;
    margin: 5vh auto;
}

.form-container h3{
    text-align: center;
    font-family: varela-round;
    margin-bottom: 1vh;
}

.field {
    margin:1vh 0vw;
    display: flex;
    flex-flow: column-reverse;
  }

.form-container label{
    font-size: 2.2vh;
    font-family: varela-round;
    color: gray;
}

.form-container input{
    width: 100%;
    font-size: 2.2vh;
    font-family: varela-round;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.form-container label, input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

.form-container input:focus {
    outline: 0;
    border-bottom: 1px solid #666;
  }

  input:placeholder-shown + label {
    max-width: 66.66%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: text;
    transform-origin: left bottom; 
    transform: translate(0, 3.4vh) scale(1.25);
    margin-bottom: 0.7vh;
  }

  ::-webkit-input-placeholder {
    transition: inherit;
    opacity: 0;
  }

  input:focus::-webkit-input-placeholder {
    opacity: 0;
  }

  input:not(:placeholder-shown) + label,
   input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
  margin-bottom: 0.7vh;
}

.submit{
    text-align: center;
    font-size: 3vh;
    width: 80px;
    margin: 1vh auto;
    margin-top: 3.7vh;
}