
html {
    scroll-behavior: smooth;
  }
  
body
{
    margin:0px;
}

.first-main-container {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.black-layer {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index:1;
    background-color:black;
    opacity:0.5;
    filter:blur(2px);
}

.navbar-container-dark{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 12vh;
    z-index: 5;
}

/* Navbar dark */

.logo{
    transition: 0.4s ease-out;
    transition-property: margin-top;
    display: inline-block;
    font-size: 2.2em;
    font-family: bavro-regular;
    margin-top: 3vh;
}

.logo:hover {
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color:white;
}

.logo a img{
    height: 9vh;
    transition: 0.4s ease-out;
    transition-property: height;
}

.logo div{
    display: block;
    margin-top: -7.3vh;
    margin-left: 100px;
}

.navbar-dark{
    display: block;
    width: 90%;
    height: 12vh;
    margin: 0px auto;
    color: white;
}

.navbar-dark ul{
    transition: margin-top 0.4s ease-out;
    display:  block;
    float: right;
    left: 0px;
    margin-top: 6.7vh;
    padding: 0px;
    list-style-type: none;
}

.navbar-dark ul li{
    display: inline-block;
    margin: 0 1vw;
    font-size: 1.5em;
    font-family: varela-round;
    color: white;
}

.navbar-dark ul li a{
    text-decoration: none;
    color: white;
}

.navbar-dark ul li a:after {
    transition: width 0.5s ease-out;
    content: "";
    display: block;
    margin: 0 auto;
    width: 0px;
    padding-top: 5px;
    border-bottom: 2px solid white;
}

.navbar-dark ul li a:hover {
    cursor: pointer;
}

.navbar-dark ul li a:hover::after {
    width: 100%;
}

/* Navbar light */

.navbar-container-light{
    transition: 0.4s ease-out;
    transition-property: height, background-color;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 5;
    top: 0px;
    width: 100%;
    height: 8vh;
}

.navbar-light .logo{
    margin-top: 0.5vh;
    font-size: 2em;
}

.navbar-light .logo img{
    height: 7vh;
}

.navbar-light .logo a div{
    display: block;
    color: black;
    margin-top: -6.2vh;
    margin-left: 80px;
}

.navbar-light{
    display: block;
    width: 90%;
    height:8vh;
    margin: 0px auto;
    color: black;
}

.navbar-light ul{
    transition: margin-top 0.4s ease-out;
    display: block;
    float: right;
    left: 0px;
    margin-top: 2.7vh;
    list-style-type: none;
}

.selected-item a:after{
    width: 100% !important;
}

.navbar-light ul li{
    display: inline-block;
    margin: 0 1vw;
    font-size: 1.5em;
    font-family: varela-round;
    color: black;
}

.navbar-light ul li a{
    text-decoration: none;
    color: black;
}

.navbar-light ul li a:after {
    transition: width 0.5s ease-out;
    content: "";
    display: block;
    margin: 0 auto;
    width: 0px;
    padding-top: 3px;
    border-bottom: 2px solid black;
}

.navbar-light ul li a:hover {
    cursor: pointer;
}

.navbar-light ul li a:hover::after {
    width: 100%;
}

.buttons-container{
    color: white;
    font-size: 3.5em;
}

.buttons-container div {
    transition: opacity 0.4s ease-out;
    opacity: 0.5;
    width: auto;
    position: absolute;
}

.buttons-container div:hover {
    opacity: 1;
}

.buttons-container div div {
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
}

#left-button {
    margin: 50vh 0 50vh 10vw;
}

#right-button{
    right: 0px;
    margin: 50vh 10vw 50vh 0vw;
}

.carousel{
    transition: margin-left 1s ease-in-out;
    cursor: default;
    overflow: hidden;
    display: flex;
    width: 300vw;
    height: 100vh;
}

#background-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index: -100;
}

.carousel-item{
    display: inline-block;
    height: 100vh;
    width:100vw;
    color:white;
    font-family: exo;
}

.carousel-item div{
    display: block;
    height: 40%;
    width:60%;
    margin: auto;
    margin-top: 20vh;
    z-index: 2;
}

.carousel-item div h2{
    font-size: 3em;
    font-weight: bold;
    margin-bottom:0.4em;
}

.carousel-item div hr{
    margin-top:0px;
    margin-bottom:0px;
    margin-left: 0em;
    width: 40%;
}

.carousel-item div p{
    margin-top: 0.4em;
    font-size: 1.6em;
}

#carousel-item-1{
    background:transparent;
}

#carousel-item-2{
    background-image: url('../resources/images/WeCreate.jpg');
    background-size: cover;
}

#carousel-item-3{
    background-image: url('../resources/images/connect.jpg');
    background-size: cover;
}

.second-main-container {
    width: 100%;
    height: 100vh;
    background-image: url('../resources/images/keyboard.jpeg');
    background-size: cover;
}

.white-layer{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: white;
    opacity: 0.4;
}

.about-content{
    width: 74vw;
    height: 100vh;
    margin: 0px auto;
}

.about-header{
    width: 74vw;
    text-align: center;
    font-size: 1.6em;
    font-family: varela-round;
    margin-top: 5vh;
    position: absolute;
    cursor: default;
}

.about-header:before,
.about-header:after{
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 4vw;
}

.about-header:before {
  right: 0.5em;
  margin-left: -50vw;
}

.about-header:after {
  left: 0.5em;
  margin-right: -50vw;
}

.who-we-are{
    opacity: 0;
    margin-top: 17vh;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    width:74vw;
    display: inline-block;
}

.who-we-are h3{
    font-size: 3em;
	font-family: varela-round;
    margin-bottom: 0vh;
}

.who-we-are p{
    font-size: 1.7em;
    font-family: varela-round;
    margin-top: 2vh;
}

.what-we-do{
    opacity: 0;
    width: 74vw;
    margin-top: 51vh;
    transition-delay: 0.7s;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    display: inline-block;
}

.what-we-do h3{
    font-size: 3rem;
    font-family: varela-round;
    margin-bottom: 0vh;
}

.what-we-do p{
    font-size: 1.7rem;
    font-family: varela-round;
}

.what-we-do-first-part{
    margin-top: 7vh;
    opacity: 0;
    transition-delay: 0.7s;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    left: 0vw;
    width:37vw;
}

.what-we-do-second-part{
    margin-top: 7vh;
    opacity: 0;
    transition-delay: 1.4s;
    transition-property: opacity, margin-top;
    transition-duration: 0.7s;
    transition-timing-function: ease-out;
    position: absolute;
    left: 37vw;
    width:37vw;
}

.more-about-us{
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 1.7em;
    font-family: varela-round;
    bottom: -95vh;
    left: 44.4vw;
}

.third-main-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.solutions-bg{
    width: 101vw;
    height: 101.4vh;
    margin-left: -1vh;
    margin-top: -0.3vw;
    background-image: url(../resources/images/dark.jpg);
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

.solutions-content{
    width: 74vw;
    height: 100vh;
    margin: -100vh auto;
}

.solutions-header{
    width: 74vw;
    margin-left: -0.7vw;
    text-align: center;
    font-size: 1.6em;
    font-family: varela-round;
    margin-top: 5vh;
    position: absolute;
    cursor: default;
}

.solutions-header:before,
.solutions-header:after{
    background-color: white;
    content: "";
    display: inline-block;
    height: 1.5px;
    position: relative;
    vertical-align: middle;
    width: 4vw;
}

.solutions-header:before {
  right: 0.5em;
  margin-left: -50vw;
}

.solutions-header:after {
  left: 0.5em;
  margin-right: -50vw;
}

.more{
    color: black;
    text-decoration: none;
    position: absolute;
    font-size: 1.7em;
    font-family: varela-round;
    bottom: -197vh;
    left: 45.5vw;
}

.fourth-main-container {
    width: 100%;
    height: 100vh;
    background-image: url('../resources/images/contact.jpg');
    background-size: cover;
}


.contact-form{
    width: 50vw;
    height: 50vh;
    border: 1px solid #333c4e;
    background: white;
    margin: 0vw auto;
    margin-top: -25vh;
    margin-bottom: -25.2vh;
    position: relative;
    z-index: 2;
}

.footer{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60vh;
    background-color: #333c4e;
    font-family: vazgen;
}

.footer-container{
    width: 50vw;
    margin: 0px auto;
    padding-top: 27vh;
    height: 33vh;
    position: relative;
    display: flex;
}

.footer-container ul{
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin:0 2vw;
    color: white;
    font-size: 2vh;
}

.footer-container ul li{
    transition: color 0.4s;
    color: white;
    margin:1vh 1vw 1vh 0.5vw;
}

.footer-container ul li:hover{
    color: #b5b5b5;
    cursor: pointer;
}

.footer-container ul li a{
    transition: color 0.4s;
    color: white;
    text-decoration: none;
}

.footer-container ul li a:hover{
    color: #b5b5b5;
    cursor: pointer;
}

.footer-container i{
    margin:0 0.4vw 0 0;
}

.social-container{
    display: flex;
}

.social-container i{
    margin: 0 0.7vw 0 0;
}

.footer-bottom{
    height: 4vh;
    vertical-align: middle;
    background-color: gray;
}

.footer-bottom-container{
    display: block;
    padding-top: 1vh;
    padding-left: 2vw;
    color: white;
    font-weight: lighter;
}

.footer-bottom-container a{
    transition: color 0.3s;
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

.footer-bottom-container a:hover{
    color: #b5b5b5;
}
